@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-brand-cyan: #38bdf8;
  --color-brand-violet: #818cf8;
  --color-brand-magenta: #c026d3;
  --color-brand-dark: #0a0a0a;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes music-bar {

  0%,
  100% {
    transform: scaleY(0.5);
    opacity: 0.5;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}


.glitch-text {
  position: relative;
}

.glitch-text::before,
.glitch-text::after {
  content: "404";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 red;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(20px, 9999px, 80px, 0);
  }

  20% {
    clip: rect(60px, 9999px, 10px, 0);
  }

  40% {
    clip: rect(40px, 9999px, 100px, 0);
  }

  60% {
    clip: rect(80px, 9999px, 5px, 0);
  }

  80% {
    clip: rect(10px, 9999px, 60px, 0);
  }

  100% {
    clip: rect(30px, 9999px, 90px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(10px, 9999px, 90px, 0);
  }

  20% {
    clip: rect(70px, 9999px, 20px, 0);
  }

  40% {
    clip: rect(30px, 9999px, 50px, 0);
  }

  60% {
    clip: rect(90px, 9999px, 10px, 0);
  }

  80% {
    clip: rect(20px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(50px, 9999px, 30px, 0);
  }
}